html, body { 
    height: 100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width:100vw;
}

#post {
    margin-top: 5vh;
    margin-left: 5vh;
    width: 95vw;
    height: 10vh; 
    border:solid 1px black;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}


.post {
    margin-left: 5vh;
    width: 95vw;
    height: 10vh;
    border:solid 1px black;
    border-bottom: none;
}

.reposti {
    width: 1024px;
    height: 436px;
    align-self: center;
}

.link {
    margin-left: 20px;
}

#postend{
    margin-left: 5vh;
    width: 95vw;
    height: 10vh;
    border:solid 1px black;
}


.post_popup {
    position: fixed;
    top: 200px;
    left: calc(50vw - 250px);
    height: 400px;
    width:500px;
    background-color: slategrey;
}

.display_none {
    display:none;
}

.display {
    display:block;
}


.login_popup {
    position: fixed;
    top: 200px;
    left: calc(50vw - 250px);
    height: 400px;
    width:500px;
    background-color: slategrey;
    z-index: 10;
}
.register_popup {
    position: fixed;
    top: 200px;
    left: calc(50vw - 250px);
    height: 400px;
    width:500px;
    background-color: slategrey;
}

.header {
    height: 15%;
    width: 100%;
    background-color:#96A5A8;
    margin-bottom: 20px;
}

.header_row {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left:50px; 
    margin-right: 50px; 
}

.header_box {
    height: 100%;
    background-color: #4B5254;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E6E2DD;
    font-size:30px;

}

.Login {
    height: 5vh;
    width: 8vw;
    background-color: #98CEF8;
    border:none;
}

.create {
    height: 5vh;
    width: 8vw;
    background-color: #98CEF8;
    border:none;
}

.profile_icon {
    height: 65%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.header_title {
    text-decoration: none;
    color: #E6E2DD;
}

.center{
    align-self: center;
}

.posted {
    height: 40vh;
    width: 80vw;
    border: 1px solid black;
    align-self: center;
}

.text {
    padding:20px;
}

.comments {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.comment_button {
    height: 5vh;
    width: 8vw;
    background-color: #98CEF8;
    border:none; 
    align-self: center;
}


.comment_box {
    width: 60vw;
    height: 30vh;
    padding:20px;
    margin-top: 20px;
    align-self: center;
}

